#main-title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    font-size: 17px;
    text-align: center
}

h2{
    font-family: benton-sans,Arial,sans-serif;
    font-size: 25px;
    color: whitesmoke;
    text-align: center
}

body {
    background-color: #181a1b;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
